<%= turbo_frame_tag dom_id(post) do %>
  <div class="p-4 border rounded-md shadow-md mb-4">
   <%= link_to post, "data-turbo-prefetch": false, "data-turbo-frame": :post_details, class: "" do %>
      <h2 class="text-xl font-bold"><%= post.title %></h2>
      <p class="text-gray-700"><%= post.content %></p>
    <% end %>
  </div>
  <div class="flex space-x-2">
    <%= link_to "Edit", edit_post_path(post), data: { turbo_frame: dom_id(post) }, class: "" %>
    <%= button_to "Delete", post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "" %>
  </div>
<% end %>